@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Roboto:500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

:root {
    --blue: #3e4edd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #4e4b66;
    --primary: #2534b6;
    --secondary: #d6d8e7;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-family: 'Roboto', sans-serif;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: var(--light);
}
.bg-primary {
    background-color: var(--primary) !important;
}
.bg-blue {
    background-color: var(--blue) !important;
}
a {
    color: var(--primary);
}
.btn {
    min-width: 120px;
    height: 40px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 5px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-link, .btn-link:hover, .btn-link:active {
    font-weight: 400;
    color: var(--primary);
    background-color: transparent;
    text-decoration: none;
}
.btn-link-dark-gray, .btn-link-dark-gray:hover, .btn-link-dark-gray:active {
    color: var(--gray-dark);
}
.justify-content-end .btn:last-child {
    margin-right: 0;
}
.btn-light {
    color: var(--primary);
    background: var(--white);
    border: 2px solid var(--secondary);
}
.bg-light-primary {
  background: var(--white) !important;;
  color: var(--primary);
  font-weight: bolder;
  border: 2px solid var(--primary);
}
.bg-default {
  background: transparent !important;;
  color: var(--primary);
  font-weight: bolder;
}
.form-submission a.forgot-pass-link {
    line-height: 40px;
}

h3 {
    font-weight: 700;
}
h3 img {
    padding: 0 5px;
}
.text-highlight {
    color: var(--blue);
    font-weight: 600;
}
.card {
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
    border-radius: 8px;
    border: none;
}
.card-text {
    line-height: 34px;
    letter-spacing: 0.75px;
    margin: 8px 0px;
}



