.sidebar-picardata.navbar-vertical{
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  overflow-y: hidden;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  z-index: 1000;

  .scrollbar-inner:not(.ps) {
    overflow-y: auto !important;
  }

  + .main-content{
    margin-left: 300px;
    background-color: #f8f8f8;
    min-height: 864px;
  }

  .sidenav-header{
    background-color: $white;
    padding: 40px 32px;
    height: auto;

    img{
      //max-height: 2.5rem;
    }
  }

  .navbar-nav{
    margin: 24px 0 0;

    .sidebar-menu-item{
      display: block;
      color: #313131;
      &.active{
        color: $primary;
      }

      img {
        height: 20px;
      }
    }

    .nav-item{
      padding: 5px 0;
      &.active{
        color: $primary;
        background-color: #eaf1d2;
      }
      &:hover{
        color: $primary;
        background-color: #eaf1d2;
        transition: all 0.175s ease-in-out;

        a.sidebar-menu-item{
          color: $primary;
        }
      }
      .pd-icon{
        font-size: 16px;
        float: left;
        width: 25%;
        display: block;
      }
      .nav-link-text{
        font-size: 14px;
        float: right;
        width: 75%;
        display: block;
        text-align: left;
        font-weight: bolder;
        line-height: 25px;
      }
    }
  }
}