body {
  background-color: white !important;
  font-family: 'Poppins';
}

.picardata-input-rounded {
  input:focus, input, select {
    background: #EFF0F7;
    border-radius: 15px;
  }
}

.picardata-profile {
  .label {
    color: #181C3B;
  }
}

input.picardata-input-rounded,
input.picardata-input-rounded:focus,
select.picardata-input-rounded,
select.picardata-input-rounded:hover,
input.picardata-input-rounded:disabled,
select.picardata-input-rounded:disabled {
    background: #EFF0F7;
    border-radius: 15px;
}

select.picardata-input-rounded {
  option {
    background: #EFF0F7;
    border-radius: 15px;
  }
}


// .app-integrated-app-manage nav .breadcrumb-item:nth-child(2) {
//   cursor: text;
//   a {
//     color: #313131;
//     font-weight: 600;
//     pointer-events: none;
//     cursor: text;
//   }

// }

// .app-integrated-app-manage nav .breadcrumb-item:nth-child(2) a {
//   color: #313131;
//   font-weight: 600;
//   pointer-events: none;
//   cursor: text;
// }

.breadcrumb-item {
  font-size: 18px;
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

// .breadcrumb-item:nth-of-type(3){
  // overflow: hidden;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // max-width: 150px;
// }

.manage-app-add-button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 1px;
  text-decoration-line: underline;

  /* Main Button */

  color: #2534B6;
}

// #pills-tab:active {
//   color: #14142B;
// }

#pills-tab {
  a:hover {
    color: #14142B;    
  }

  a:active {
    color: #14142B;
  }
} 

.picardata-std-form-input {
  .left {
    margin-left: -40px;
  }

  .no-bullet {
    list-style-type: none;
  }

  .card-title h4 {
    font-size: 28px;
  }

  input {
    border-width: 0 0 2px 0;
    border-radius: 0;
    border-color: var(--primary);
    padding-left: 0;
  }  
}


.notifications  {
  button {
    display: none;
  }

  .alert-text {
    margin: auto;
    color: #FCFCFC;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }

  .alert {
    width: 374px;
    height: auto;
  }

  .alert-success {
    background: #3E4EDD;
    border-radius: 16px;
  }  
}

.picardata-std-modal, .picardata-delete-modal {
  .first-title {
    color: #181C3B;
  }
  
  .second-title {
    color: #2534B6;
  }

  .close-button {
    margin-top: -6%;
    margin-right: -6%;
    cursor: pointer;
  }

  .parent-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
  }

  .back-arrow {
    color: #14142B;
    font-size: 140%;
  }

  .back-arrow-parent {
    margin-bottom: 2%;
  }

  .form-control {
    color: #313131;
  }
}

nav .breadcrumb-item a:nth-child(1) {
  color: #3E4EDD;
}

.breadcrumb-item i {
  color: #404040;
  margin: 0 10px 3px 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #313131;
}

.card{
  &.pcd{
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
    border-radius: 16px;

    &.card-stats{
      min-height: 303px;
    }
    &.card-libs{
      min-height: 424px;
      min-width: 260px;
    }

    h1{
      &.desc-title{
        font-size:34px;
        letter-spacing: 0.75px;
      }
    }
    h2{
      letter-spacing: 0.75px;
    }
    h5{
      &.card-title{
        &.pcd {
          font-size: 24px;
          letter-spacing: 0.75px;
        }
      }
    }
    span{
      &.h2{
        font-size: 48px;
      }
      &.desc{
        font-size: 12px;
      }
      color:#313131;
    }
    p{
      &.f-14{
        font-size: 14px !important;
      }

      font-weight: 400;
      font-size:16px;
      color: #313131;
      letter-spacing: 0.75px;
    }
    img{
      width:78px !important;
    }
    button{
      &.btn-outline-primary{
        border: 2px solid #2534B6;
        font-size: 16px;
        padding: 14px 5px !important;
        color: #2534B6;
        letter-spacing: .75px;

        &:hover{
          color: white;
        }
      }
    }
    .card-footer{
      border-top: none;
    }
    hr{
      &.blue-divider{
        background-color: #3E4EDD;
        height: 4px;
        width: 60px;
        margin-left: 0px;
        border-radius: 4px;
      }
    }
    .chart{
      height: auto;
    }
  }
}

.modal-dialog{
  &.pcd{
    .title-text{
      letter-spacing: 1px;
      color: #181C3B;
      font-weight: 700 !important;
    }
    .content-text{
      color:#313131;
      letter-spacing: 0.75px;
    }
    .modal-header{
      button{
        span{
          color: #14142B;
        }
      }
    }
    .modal-content{
      border-radius: 24px;
    }
    .modal-footer{
      a{
        letter-spacing: 0.75px;
        min-width: 200px;
        min-height: 64px;
        font-size: 16px;
        color: white;
      }
    }
    ul{
      &.content-text{
        padding-left: 20px;
        width: 90%;

        li{
          font-size: 16px;
          letter-spacing: 1px;
          color: #000000;

          i{
            &.pdicon-Alert-info {
              float: right;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
  &.forgot-password{
    .modal-content{
      border-radius: 24px;
    }
    .modal-header{
      padding: 0.75em;

      .close{
        padding: 0;
        margin: 0;

        span{
          font-weight: 100;
          color: #14142B;
          font-size: 1.75em;
        }
      }
    }
    .modal-body{
      padding: 0.5em;

      h2{
        font-size: 24px;
        color: #181C3B;
      }
      p{
        color: #313131;
      }
    }
  }
  &.share-form{
    max-width: 700px;
    .modal-content{
      border-radius: 24px;
      padding: 32px !important;
    }
    .modal-header{
      padding: 0;
      flex-direction: column;

      .icon-back{
        margin-bottom: 28px;
        cursor: pointer;
      }
      h3{
        font-size: 24px;
        font-weight: 700;
        color: #181C3B;
        margin-bottom: 24px;
      }
    }
    .modal-body{
      padding: 0;

      .checkbox{
        input{
          transform: scale(2.3);
          margin: 0 16px 32px 8px;
        }
        label{
          color: #313131;
          font-size: 16px;
        }
      }

      .form-control{
        &.no-border{
          color: black;
          border: none;
          border-bottom: 1px solid #313131;
          border-radius: 0;
          margin-top: 24px;
          font-size: 16px;
        }
        &:focus{
          box-shadow: none;
        }
        &:disabled{
          background: #FFFFFF;
        }
      }
      .sub-title{
        font-size: 20px;
        font-weight: 600;
        margin-top: 32px;
      }
    }
    .modal-footer{
      padding: 0;

      .btn{
        border-radius: 40px;
        min-width: 200px;
        padding: 12px 0;
        font-size: 16px;
        font-weight: 600;

        &.btn-outline-primary{
          border: 2px  solid #2534B6;
        }
      }
    }
    .pointer{
      cursor: pointer;
    }
    .color{
      &.dark-blue{
        color: #181C3B;
      }
      &.neutral{
        color: #404040;
      }
      &.main{
        color: #2534B6;
      }
      &.seperate{
        color: #C4C4C4;
      }
      &.label{
        color: #6E7191
      }
    }
  }
}

.login-credential-input {
  border-radius: 16px;
  background: #EFF0F6;
  color: #181C3B;
  min-height: 64px;
  border: 1px solid #dee2e6;
  font-size: 1rem;
  padding: 0 24px;

  &:focus {
    color: #181C3B;
    background-color: #EFF0F7;
    border: 1px solid #dee2e6;
    outline: 0;
    box-shadow: none;
  }

  &::placeholder {
    color: #A0A3BD;
  }

  + .input-group-append {
    background: #EFF0F6;
    border-radius: 0 16px 16px 0;

    .input-group-text {
      border-radius: 0 16px 16px 0;
      font-size: 1rem;
    }
  }

  &.error {
    background: #FFF2F7;
    border: 2px solid #ED2E7E;
  }
}

.picardata-profile {
  .radius-input {
    background: #EFF0F7;
    border-radius: 16px;
    color: #181C3B;
    min-height: 64px;
    border: 1px solid #dee2e6;
    font-size: 1rem;
    padding: 0 24px;

    &:disabled {
      opacity: 0.5;
    }

    &:focus {
      color: #181C3B;
      background-color: #EFF0F7;
      border: 1px solid #dee2e6;
      outline: 0;
      box-shadow: none;
    }

    &::placeholder {
      color: #A0A3BD;
    }

    + .input-group-append {
      background: #EFF0F7;
      border-radius: 0 16px 16px 0;

      .input-group-text {
        border-radius: 0 16px 16px 0;
        font-size: 1rem;
      }
    }

    &.error {
      background: #EFF0F7;
      border: 2px solid #ED2E7E;
    }
  }
}

.phonenumber-custom{
  min-height: 64px;
  margin-bottom: 0;

  .country-selector{
    height: 64px !important;
    min-height: 64px !important;
  }

  .country-selector__input, .input-tel__input{
    height: 64px !important;
    min-height: 64px !important;
    font-size: 1rem !important;
    background: #EFF0F6 !important;
    border: 1px solid #dee2e6 !important;

    &::placeholder{
      color: #A0A3BD !important;
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
    }
  }
  .country-selector__country-flag{
    top: 25px !important;
  }
  .country-selector__label{
    display: none !important;
  }
  .country-selector__toggle{
    top: calc(50% - 15px) !important;
    height: 64px !important;
  }
  .country-selector.has-value .country-selector__input{
    padding-top: 0 !important;
  }
}

.picardata-std-modal {
  .form-control {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
}

.cursor-pointer{
  cursor: pointer;
}