body {
  background-color: white !important;
  font-family: 'Poppins';
}


.app-integrated-app-manage nav .breadcrumb-item:nth-child(2) {
  cursor: text;
  a {
    color: #313131;
    font-weight: 600;
    pointer-events: none;
    cursor: text;
  }

}

// .app-integrated-app-manage nav .breadcrumb-item:nth-child(2) a {
//   color: #313131;
//   font-weight: 600;
//   pointer-events: none;
//   cursor: text;
// }

.breadcrumb-item {
  font-size: 18px;
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.manage-app-add-button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 1px;
  text-decoration-line: underline;

  /* Main Button */

  color: #2534B6;
}

nav .breadcrumb-item a:nth-child(1) {
  color: #3E4EDD;
}

.breadcrumb-item i {
  color: #404040;
  margin: 0 10px 3px 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #313131;
}

.card{
  &.pcd{
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
    border-radius: 16px;

    &.card-stats{
      min-height: 303px;
    }
    &.card-libs{
      min-height: 424px;
    }

    h1{
      &.desc-title{
        font-size:34px;
        letter-spacing: 0.75px;
      }
    }
    h2{
      letter-spacing: 0.75px;
    }
    h5{
      &.card-title{
        &.pcd {
          font-size: 24px;
          letter-spacing: 0.75px;
        }
      }
    }
    span{
      &.h2{
        font-size: 48px;
      }
      &.desc{
        font-size: 12px;
      }
      color:#313131;
    }
    p{
      &.f-14{
        font-size: 14px !important;
      }

      font-size:16px;
      color: #313131;
      letter-spacing: 0.75px;
    }
    img{
      width:78px !important;
    }
    button{
      &.btn-outline-primary{
        border: 2px solid #2534B6;
        font-size: 16px;
        padding: 14px 5px !important;
        color: #2534B6;
        letter-spacing: .75px;

        &:hover{
          color: white;
        }
      }
    }
    .card-footer{
      border-top: none;
    }
    hr{
      &.blue-divider{
        background-color: #3E4EDD;
        height: 4px;
        width: 60px;
        margin-left: 0px;
        border-radius: 4px;
      }
    }
    .chart{
      height: auto;
    }
  }
}

.modal-dialog{
  &.pcd{
    .title-text{
      letter-spacing: 1px;
      color: #181C3B;
    }
    .content-text{
      color:#313131;
      letter-spacing: 0.75px;
    }
    .modal-header{
      button{
        span{
          color: #14142B;
        }
      }
    }
    .modal-footer{
      a{
        letter-spacing: 0.75px;
        min-width: 200px;
        min-height: 64px;
        font-size: 16px;
        color: white;
      }
    }
    ul{
      &.content-text{
        padding-left: 20px;
        width: 90%;

        li{
          font-size: 16px;
          letter-spacing: 1px;
          color: #000000;

          i{
            &.pdicon-Alert-info {
              float: right;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
  &.forgot-password{
    .modal-header{
      padding: 0.75em;

      .close{
        padding: 0;
        margin: 0;

        span{
          font-weight: 100;
          color: #14142B;
          font-size: 1.75em;
        }
      }
    }
    .modal-body{
      padding: 0.5em;

      h2{
        font-size: 24px;
      }
    }
  }
}

.login-credential-input {
  border-radius: 16px;
  background: #EFF0F6;
  color: #181C3B;
  min-height: 64px;
  border: 1px solid #dee2e6;
  font-size: 1rem;
  padding: 0 24px;

  &:focus {
    color: #181C3B;
    background-color: #EFF0F7;
    border: 1px solid #dee2e6;
    outline: 0;
    box-shadow: none;
  }

  &::placeholder {
    color: #A0A3BD;
  }

  + .input-group-append {
    background: #EFF0F6;
    border-radius: 0 16px 16px 0;

    .input-group-text {
      border-radius: 0 16px 16px 0;
      font-size: 1rem;
    }
  }

  &.error {
    background: #FFF2F7;
    border: 2px solid #ED2E7E;
  }
}